{% extends 'base.html' %}
{% block page_content %}
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/styles_contact_form.css' %}">
    <h6>За въпроси и поръчки, не се колебайте да ни пишете.</h6>

    <div class="row"></div>

    <div class="column-one">

        <form action="{% url 'contacts' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.name }}
            </div>
            <div class="form-group">
                {{ form.cell_phone_number }}
            </div>
            <div class="form-group">
                {{ form.email }}
            </div>
            <div class="form-group">
                {{ form.subject }}
            </div>
            <div class="form-group">
                {{ form.message }}
                <input type="submit" value="Изпрати">
            </div>
        </form>
    </div>
    <div class="column-two">

    </div>

{% endblock %}