{% extends 'base.html' %}
{% block page_content %}
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/materials.css' %}">

    <h1>Материали и качествен контрол</h1>

    <div class="row">
        <div class="column" style="background-color: white">
            <img class="materials-picture" src="{% static "images/materials.jpeg" %}" height="800" width="800"
                 alt="materials-picture">
        </div>
        <article class="column" style="background-color: white">
            <h6>
                В нашите цехове се изпозлват висококачествени маериали на световноизвестни производители.
            </h6>
            <div>
                <ul>Използвани материали:
                    <li>ПДЧ - ФИРМА SALEX</li>
                    <li>ПДЧ - ФИРМА НЮМАН 2010 ЕАД</li>
                    <li>МДФ - ФИРМА SALEX</li>
                    <li>МДФ - ФИРМА НЮМАН 2010 ЕАД</li>

                </ul>
{#                <h5>Използвани материали:</h5>#}
{#                <h5>ПДЧ - ФИРМА SALEX</h5>#}
{#                <h5>ПДЧ - ФИРМА НЮМАН 2010 ЕАД</h5>#}
{#                <h5>МДФ - ФИРМА SALEX</h5>#}
{#                <h5>МДФ - ФИРМА НЮМАН 2010 ЕАД</h5>#}
            </div>
            <p>
                МАСИВ - ВЗИМАМЕ МАСИВ ОТ РАЗЛИЧНИ ДОСТАВЧИЦИ. НАШЕТО ОБЕЩАНИЕ КЪМ ВАС Е ,ЧЕ ИЗДЕЛИЯ ОТ МАСИВ
                ИЗДАДЕНО ОТ НАС НЯМА ДА Е С ГОЛЯМ ПРОЦЕНТ НА ВЛАЖНОСТ. ПРЕДВАРИТЕЛНО ПРОВЕРЯВАМЕ ВЛАЖНОСТТА НА
                ТАЛПИТЕ,
                КОИТО ИЗПОЛЗВАМЕ,ЗА ДА МОЖЕ ДА ГАРАНТИРАМЕ, ЧЕ ДЪЛГО ВРЕМЕ ЩЕ СЕ РАДВАТЕ НА ВАШИТЕ УНИКАЛНИ МЕБЕЛИ.
            </p>

            <p>
                ЕПОКСИДНА СМОЛА - ВЗИМАМЕ НАЙ-КАЧЕСТВЕНАТА ЕПОКСИДНА СМОЛА ЗА ПРОИЗВЕЖДАНЕ НА МАСИВНИ МАСИ, КОЯТО СЕ
                ПРЕДЛАГА НА БЪЛГАРСКИЯ ПАЗАР. ПОСТОЯННО ТЕСТВАМЕ НОВИ СМОЛИ, КОИТО МОЖЕ ДА БЪДАТ ПО-КАЧЕСТВЕНИ.
                ИМАМЕ
                ДВА ТИПА СМОЛА- ТАКАВА, ЧРЕЗ КОЯТО МОЖЕ ДА ПРАВИМЕ РАЗЛИЧНИ СЛОЕВЕ И ТАКАВА ЗА НАЛИВАНЕ НА ПО-ДЕБЕЛИ
                СЛОЕВЕ
                НА ЕДИН ПЪТ.
            </p>

            <p>
                КЪМ СМОЛАТА ИМАМЕ РАЗЛИЧНИ ВИДОВЕ ПИГМЕНТИ, КОИТО МОЖЕ ДА БЪДАТ МИКСИРАНИ СЪС СМОЛАТА ПО
                РАЗЛИЧЕН НАЧИН, ЗА ДА МОЖЕ ВАШАТА МАСА ДА ИЗГЛЕЖДА НАИСТИНА УНИКАЛНА И ЕДИНСТВЕНА. ПРИ ПОРЪЧКА НА
                МАСА
                ПРАВИМ
                МОСТРИ НА КЛИЕНТА, ЗА ДА МОЖЕ ДА БЪДЕТЕ ДОВОЛНИ ОТ ЦВЕТА, КОЙТО ЩЕ СЕ ПОЛУЧИ.
            </p>

            <p>
                ПРЕДЛАГАМЕ РАЗЛИЧНИ МЕТАЛНИ КРАКА ЧРЕЗ НАШ СНАБИДТЕЛ. ЩЕ ВИ ПРАТИМ И ПРЕДЛОЖИМ РАЗЛИЧНИ МОДЕЛИ, ОТ
                КОИТО
                МОЖЕ ДА ИЗБЕРЕТЕ И ЩЕ ВИ ДАДЕМ СЪВЕТ КАКЪВ КРАК ДА ИЗБЕРЕТЕ. НЕ СЕ ПРИТЕСНЯВАЙТЕ ДА БЪДЕТЕ УНИКАЛНИ.
                АКО
                СТЕ ВИДЯЛИ МЕТАЛЕН КРАК, КОЙТО Е ТРУДЕН ЗА ИЗРАБОТКА МОЖЕ ДА НИ ПРАТИТЕ СНИМКИ ,ЧРЕЗ ФОРМАТА ЗА
                ЗАПИТВАНЕ И
                ЩЕ ВИ КАЖЕМ ДАЛИ МОЖЕ ДА ГО ИЗРАБОТИМ. ЦВЕТОВЕТЕ, КОИТО СЕ ПРЕДЛАГАТ СА ВСИЧКИТЕ ЦВЕТОВЕ ПО RAL.
            </p>

        </article>
    </div>
{% endblock %}