{% extends 'base.html' %}
{% block page_content %}
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/finished-products.css' %}">

    <h1>Готови проекти</h1>

    <div class="row">
        {% for product in finished_products %}
            {% if forloop.counter0|divisibleby:3 %}
                <div class="column" style="background-color: whitesmoke">
                    <p>
                        <img class="tables-image" alt="table-image" src="{{ product.table_image.url }}">
                    </p>
                    <h5>
                        {{ product.table_name }}
                    </h5>
                    <h6>
                        {{ product.table_price }} лв.
                    </h6>
                    <h6>
                        {{ product.table_sizes }}
                    </h6>
                </div>
            {% else %}
                <div class="column-two" style="background-color: whitesmoke">
                    <p>
                        <img class="tables-image" alt="table-image" src="{{ product.table_image.url }}">
                    <h5>
                        {{ product.table_name }}
                    </h5>
                    <h6>
                        {{ product.table_price }} лв.
                    </h6>
                    <h6>
                        {{ product.table_sizes }}
                    </h6>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

