{% extends 'base.html' %}
{% block page_content %}
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/masi.css' %}">

    <div class="row">
        {% for image in image.child_images.all %}
            {% if forloop.counter0|divisibleby:1 %}
                <div class="column" style="background-color: whitesmoke">
                    <p>
                        <img src="{{ image.image.url }}" alt="pic">
                    </p>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}