{% load static %}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">

    <link rel=”stylesheet” href=”{% static 'css/index.css' %}”>
    <title>Cassa Massa</title>
</head>
<body>

<header style="background-color: #3F3E3F">
    <div class="header">
        <div class="jumbotron">
            <img style="width: 15%" src="https://www.cassamassa.com/images/CassaMassa_Logo_1.png" alt=""/>
        </div>
        <h6>
            <span style="margin-left: 200px; margin-bottom: 200px; background-color: white">+359889359495</span>
        </h6>
        <h6>
            <span style="margin-left: 200px; margin-bottom: 200px; background-color: white">info@cassamassa.com</span>
        </h6>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                Проекти
            </button>
            {% if not request.user.is_authenticated %}
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="{% url 'tables' %}">Маси</a></li>
                    <li><a class="dropdown-item" href="{% url 'kitchens' %}">Кухни</a></li>
                    <li><a class="dropdown-item" href="{% url 'bedrooms' %}">Спални</a></li>
                    <li><a class="dropdown-item" href="{% url 'wardrobes' %}">Гардероби</a></li>
                    <li><a class="dropdown-item" href="{% url 'others' %}">Други</a></li>
                </ul>
                <a class="btn btn-secondary" href="{% url 'services' %}" role="button">Услуги</a>
                <a class="btn btn-secondary" href="{% url 'materials' %}" role="button">Материали</a>
                <a class="btn btn-secondary" href="{% url 'contacts' %}" role="button">Контакт</a>
                <a class="btn btn-secondary" href="{% url 'table-inquiry-form' %}" role="button">Маси форма</a>
                <div class="login">
                    <a href="{% url 'register user' %}">
                        <button>Register</button>
                    </a>
                    <a href="{% url 'login user' %}">
                        <button>Login</button>
                    </a>
                </div>
            {% endif %}

        </div>
    </div>

</header>
<hr/>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'images/lozenecSpalnq1.jpeg' %}" class="d-block w-100" alt="apartment-pic">
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/hola2.jpeg' %}" class="d-block w-100" alt="image-carousel">
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/masaOreh1.jpeg' %}" class="d-block w-100" alt="image-walnut-table">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

{#<div class="container">#}
{#    <div class="column">#}
{#        <h6>Запитване за <br/>#}
{#            масивни маси с <br/>#}
{#            или без епоксидна смола<br/>#}
{#            ФОРМА ЗА ЗАПИТВАНЕ<br/>#}
{#            <a href="main/table_inquiry_form.html">Тук може да посочите параметрите на<br/>#}
{#                желаната от Вас маса.</a><br/>#}
{#        </h6>#}
{#    </div>#}
{#    <div class="column">#}
{#        <h6>#}
{#            Как изпълняваме<br/>#}
{#            проектите си?<br/>#}
{#            МАТЕРИАЛИ И<br/>#}
{#            КАЧЕСТВЕН КОНТРОЛ<br/>#}
{#            <a href="main/materials.html">В нашите цехове се изпозлват<br/>#}
{#                висококачествени маериали на<br/>#}
{#                световноизвестни производители.</a>#}
{#        </h6>#}
{#    </div>#}
{#    <div class="column">#}
{#        <h6>#}
{#            Защо CassaMassa?<br/>#}
{#            УНИКАЛНОСТ ВЪВ ВСЕКИ<br/>#}
{#            ПРОЕКТ !#}
{#            <hr>#}
{#            Всички проекти се съобразяват с<br/>#}
{#            желанията на клиента, коментират се с<br/>#}
{#            техническите ни специалисти и се<br/>#}
{#            реализират в максимално кратки<br/>#}
{#        </h6>#}
{#        срокове.#}
{#    </div>#}
{#</div>#}


<div class="container">
    <div class="row">
        <div class="moduletable   col-sm-3">
            <div class="module_container">
                <header class="page_header"><h3 class="moduleTitle material-icons-toys heading-style-3 visible-first">
                    <span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Запитване</span>
                    <span class="item_title_part_1 item_title_part_even item_title_part_first_half">за</span> <span
                        class="item_title_part_2 item_title_part_odd item_title_part_first_half">масивни</span> <span
                        class="item_title_part_3 item_title_part_even item_title_part_first_half">маси</span> <span
                        class="item_title_part_4 item_title_part_odd item_title_part_first_half">с</span> <span
                        class="item_title_part_5 item_title_part_even item_title_part_second_half">или</span> <span
                        class="item_title_part_6 item_title_part_odd item_title_part_second_half">без</span> <span
                        class="item_title_part_7 item_title_part_even item_title_part_second_half">епоксидна</span>
                    <span class="item_title_part_8 item_title_part_odd item_title_part_second_half item_title_part_last">смола</span>
                </h3></header>
                <div class="mod-article-single custom mod-article-single__" id="module_223">
                    <div class="item__module visible-first" id="item_158">
                        <!-- Item Title -->
                        <h5 class="item-title heading-style-5 visible-first"><span
                                class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Форма</span>
                            <span class="item_title_part_1 item_title_part_even item_title_part_first_half">за</span>
                            <span class="item_title_part_2 item_title_part_odd item_title_part_second_half item_title_part_last">запитване</span>
                        </h5>

                        <!-- Intro Text -->
                        <div class="item_introtext">
                            <p>Тук може да посочите параметрите на желаната от Вас маса.</p>
                        </div>
                        <hr/>
                        <button type="button" class="btn btn-outline-secondary">
                            <a href="http://127.0.0.1:8000/table-inquiry/"> Форма за запитване</a>
                        </button>
                    </div>


                </div>
            </div>
        </div>
        <div class="moduletable   col-sm-3 col-sm-offset-1">
            <div class="module_container">
                <header class="page_header"><h3
                        class="moduleTitle material-icons-track_changes heading-style-3 visible-first"><span
                        class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Как</span>
                    <span class="item_title_part_1 item_title_part_even item_title_part_first_half">изпълняваме</span>
                    <span class="item_title_part_2 item_title_part_odd item_title_part_second_half">проектите</span>
                    <span class="item_title_part_3 item_title_part_even item_title_part_second_half item_title_part_last">си?</span>
                </h3></header>
                <div class="mod-article-single custom mod-article-single__" id="module_224">
                    <div class="item__module visible-first" id="item_159">
                        <!-- Item Title -->
                        <h5 class="item-title heading-style-5 visible-first"><span
                                class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Материали</span>
                            <span class="item_title_part_1 item_title_part_even item_title_part_first_half">и</span>
                            <span class="item_title_part_2 item_title_part_odd item_title_part_second_half">качествен</span>
                            <span class="item_title_part_3 item_title_part_even item_title_part_second_half item_title_part_last">контрол</span>
                        </h5>

                        <!-- Intro Text -->
                        <div class="item_introtext">
                            <p>В нашите цехове се изпозлват висококачествени маериали на световноизвестни
                                производители.</p>
                        </div>
                        <hr/>
                        <button type="button" class="btn btn-outline-secondary">
                            <a href="http://127.0.0.1:8000/materials/">Материали</a>
                        </button>
                    </div>


                </div>
            </div>
        </div>
        <div class="moduletable   col-sm-3 col-sm-offset-1">
            <div class="module_container">
                <header class="page_header"><h3
                        class="moduleTitle material-icons-nature_people heading-style-3 visible-first"><span
                        class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Защо</span>
                    <span class="item_title_part_1 item_title_part_even item_title_part_second_half item_title_part_last">CassaMassa?</span>
                </h3></header>
                <div class="mod-article-single custom mod-article-single__" id="module_225">
                    <div class="item__module visible-first" id="item_160">
                        <!-- Item Title -->
                        <h5 class="item-title heading-style-5 visible-first"><span
                                class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Уникалност</span>
                            <span class="item_title_part_1 item_title_part_even item_title_part_first_half">във</span>
                            <span class="item_title_part_2 item_title_part_odd item_title_part_first_half">всеки</span>
                            <span class="item_title_part_3 item_title_part_even item_title_part_second_half">проект</span>
                            <span class="item_title_part_4 item_title_part_odd item_title_part_second_half item_title_part_last">!</span>
                        </h5>

                        <!-- Intro Text -->
                        <div class="item_introtext">
                            <p>Всички проекти се съобразяват с желанията на клиента, коментират се с техническите ни
                                специалисти и се реализират в максимално кратки срокове.</p>
                        </div>
                        <hr/>
                        <a class="readmore" href=""><i class="fa fa-angle-right"></i></a></div>


                </div>
            </div>
        </div>
    </div>
</div>

<img src="{% static 'images/Screenshot 2022-05-02 at 16.27.31.png' %}" class="img-fluid" alt="pic">

<div>
    {% for review in object_list %}
        <h3>{{ object.author }}</h3>
        <h6>{{ object.description }}</h6>
    {% endfor %}
</div>

{% block page_content %}
{% endblock %}

<hr/>
<footer class="footer">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2022 Copyright: <a class="btn btn-secondary" href="/privacy-policy/">Privacy Policy</a>
        <a class="text-dark" href="https://cassamassa.com">CassaMassa.com</a>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>