<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Privacy policy</title>
</head>
<body>
Privacy policy
I. ПРЕДМЕТ
Чл. 1. Настоящата Политика за личните данни, наричана по-долу за краткост „Политика за личните данни“ , е предназначена за регулиране на отношенията при обработката на лични данни между Каса Маса ЕООД, наричано по-долу за краткост „Доставчик“ , собственик на интернет страницата: https://lwww.cassamassa.com, наричана по-долу за краткост „Интернет страница“ , и всеки един от ползвателите, наричани по-долу за краткост „Ползвател/и“ , на Интернет страницата, във връзка с използването от Ползвателя на Интернет страницата.
II. ДАННИ ЗА ДОСТАВЧИКА
Чл. 2. Информация относно Доставчика:
1. Наименование Каса Маса ЕООД, ЕИК 206111785
2. Седалище и адрес на управление: гр.СОФИЯ жк Редута, ул. Попова Шапка 24, ет1.
3. Адрес за упражняване на дейността: гр. София, кв.“Илиенци“, бул. Петър Панайотов 26
4. Данни за кореспонденция: : гр.СОФИЯ жк Редута, ул. Попова Шапка 24, ет1.
, тел.: 0889359495, електронна поща: info@cassamassa.com.
5. Вписване в публични регистри: Търговски регистър при Агенция по вписванията към Министерство на правосъдието на Република България.
6. Надзорни органи:
Комисия за защита на личните данни на Република България, адрес: гр. София, п.к. 1592, бул. „Проф. Цветан Лазаров“ № 2, тел.: 02/ 915 35 18 факс: 02/ 915 35 25, Имейл: kzld@cpdp.bg, Интернет сайт: www.cpdp.bg
7. Регистрация по Закона за данък върху добавената стойност № 206111785
III. ЗАЩИТА НА ЛИЧНИТЕ ДАННИ
Чл. 3. (1) Доставчикът, чрез Интернет страницата, събира, съхранява и обработва лични данни на Ползвателите само във връзка със своята дейност, съобразено с изискванията на приложимото право и със Закона за защита на личните данни на Република България.
(2) Личните данни на Ползвателя могат да бъдат ползвани за удостоверяване и извършване на комуникация при направени запитвания или генерирани кандидатури за работа, предоставяне на рекламно съдържание адаптирано спрямо интересите на Ползвателя, изпращане на Бюлетин в случай, че Ползвателя е предоставил съгласието си за получаване на такъв, статистически информация за ползване на Интернет страницата, защита на информационната сигурност на Интернет страницата, счетоводни цели във връзка с ползване услугите на Доставчика, Обезпечаване предоставянето на услугите на Доставчика.
(3) Доставчикът не ползва и не обработва лични данни на Ползвателя, които дават информация за расов или етнически произход, които са свързани със здравето, сексуалния живот, човешкия геном на Ползвателя, които са свързани с политически, религиозни, философски убеждения или участия.
(4) Доставчикът предприема мерки за защита на личните данни на Ползвателя съгласно действащото законодателство в Република България, включително Закона за защита на личните данни.
Чл. 4. Интернет страницата използва бисквитки (cookies), като вида, целите и условията за използването им са посочени в Политиката за бисквитки, достъпна на  .........................................., с която чрез използването на Интернет страницата Ползвателят се съгласява.
Чл. 5. С използването на Интернет страницата Получателят се съгласява изрично, че Доставчикът има право да обработва личните му данни съгласно настоящите Общи условия достъпни на https://www.cassamassa.com/общи-условия/ .
Чл. 6. Доставчикът не разкрива, продава, обменя или по какъвто и да било друг начин предоставя на трети страни информацията, която Интернет страницата събира през посещенията на Ползвателя, освен когато това се изисква съгласно приложимото законодателство и/или от надлежен орган, упълномощен по закон, но винаги при спазване на действащото законодателство в Република България.
Чл. 7. Ползвателят може да иска от Доставчика да коригира, изтрие, ограничи ползването на личните му данни чрез (i) изпращане на електронно съобщение към Доставчика, с ясно изразено желание, към info@cassamassa.com; или (ii) чрез искане за отказ в писмена форма, изпратено до Доставчика по пощата на адрес : гр.СОФИЯ жк Редута, ул. Попова Шапка 24, ет1.
</body>
</html>