{% load static %}
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<link rel="stylesheet" type="text/css" href="{% static 'css/login-form.css' %}">

<form class="login" action="{% url 'login user' %}" method="post">
    {% csrf_token %}
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    <div class="form-floating">
        {{ form }}

    </div>

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
</form>


