{% load static %}
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{#<link rel="stylesheet" type="text/css" href="{% static 'css/login-form.css' %}">#}


{% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
    {% else %}
        <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form action="{% url 'register user' %}" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <h1 class="h3 mb-3 fw-normal">Please register</h1>
            <div class="form-floating">

                <td>{{ form.label_tag }}</td>
                <td>{{ form }}</td>
            </div>

        </tr>
    </table>

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>

    <input class="w-100 btn btn-lg btn-primary" type="submit" value="register">
    <input class="w-100 btn btn-lg btn-primary" type="hidden" name="next" value="{{ next }}">
</form>


