{#<form action="{% url 'register user' %}" method="post">#}
{#    <fieldset>#}
{#        <form>#}
{#            {% csrf_token %}#}
{#            {{ form }}#}
{#            {{ profile_form }}#}
{#            <button type="submit" class="btn btn-primary">Register</button>#}
{#        </form>#}
{#    </fieldset>#}
{#</form>#}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form action="{% url 'register user' %}" method="post">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.label_tag }}</td>
    <td>{{ form }}</td>
</tr>
</table>

<input type="submit" value="login">
<input type="hidden" name="next" value="{{ next }}">
</form>

