.logo {
    float: left;
    position: relative;
    margin: 15px 15px 30px 20px;
}

.telephone-number {
    color: white
}

.email {
    color: white
}

.logout-button {
    color: white;
    float: right;
    margin: -25px 40px 10px 20px;
}

a:hover {
    color: red;
}

.footer-year {
    color: black;
}

.logo-footer {
    float: left;
    position: relative;
    margin: 55px 15px 15px 20px;

}

.footer {
    background-color: #3F3E3F;
}

.header {
    background-color: #3F3E3F;
    height: 150px;
}

.size-header {
    display: block;
}


.body {
    display: table;
    width: 100%;
}

