.logo {
    float: left;
    position: relative;
    margin: 15px 15px 30px 20px;
    display: flex;
}

.telephone-number {
    color: white;
}

.email {
    color: white;
}

.logout-button {
    color: white;
    float: right;
    margin: -50px 40px 10px 20px;
}

a:hover {
    color: red;
}


.header {
    background-color: #3F3E3F;
    min-height: 150px;
    /*height: 200px;*/
}

.size-header {
    display: block;
}


body {
    /*height: 100%;*/
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}


.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
    margin-top: auto;

}

/*.logo-footer {*/
/*    float: left;*/
/*    position: relative;*/
/*    margin: 50px 15px 50px 20px;*/
/*}*/
