.logo {
    float: left;
    position: relative;
    margin: 15px 15px 30px 20px;
}

.telephone-number {
    color: white
}

.email {
    color: white
}

.logout-button {
    color: white;
    float: right;
    margin: -50px 40px 10px 20px;
}

a:hover {
    color: red;
}

.logo-footer {
    float: left;
    position: relative;
    margin: 50px 15px 100px 120px;
}

.header {
    background-color: #3F3E3F;
    height: 200px;
}

.size-header {
    display: block;
}


body, html {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 150px;
    background-color: whitesmoke;
}

.py-3 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}
.mt-auto {
    margin-top: auto !important;
}

.container {

    max-width: 200px;
    padding: 100px;
}
