p {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    list-style: none;
    letter-spacing: 1px;
    text-align: left;
    width: 800px;
}

.column {
    float: left;
    width: 40%;
    margin-right: 20px;
    line-height: 23px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.materials-picture {
    max-height: 100%;
    max-width: 100%;
}

li {
    display: list-item;
}

ul {
    list-style: none;
}