input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 19px;
    display: inline-block;
}

.column-one {
    float: left;
    width: 50%;
    margin-left: 50px;
}

.column-two {
    float: right;
    width: 40%;
    font-family: Roboto, sans-serif;
}

h5 {
    color: #fddea7;
    font-size: 14px;
    line-height: 23px;
    font-weight: bold;

}

h6 {
    font-size: 14px;
}

.text {
    margin-left: 50px;
}

